<div class="diagram">
    <h2>SiteMap - Example 1</h2>
        A mermaid diagram that shows the layout of this web application:
        <pre class="mermaid">
            graph TD
            A[Index] --> B[About]
            A --> C[Example]
            B --> D[File Structure Diagram]
            A --> E[Documentation]
            A --> F[More Examples]
        </pre>
</div>
