.navbar {
    display: flex;
	align-items: center;
	justify-content: center;

    background-color: var(--navbar-background-color);
    border-radius: 0.5em;
    a:link, a:visited, a:active { color: #fffafa; }
}
.nav-content {
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
}
